    body{
        align-content: center;
        justify-content: center;
        text-align: center;
    }
      
    div.keypad{

   display: grid;
    border: 4px solid brown;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr); /* More rows for all buttons */
    gap: 10px;

    width: 300px;
    padding: 20px;
    margin: 15% auto;

    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    }

    #display {
    grid-column: span 4;
    height: 60px;
    padding: 10px;

    font-size: 24px;
    text-align: right;

    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    background: #f7f7f7;
    }


    .keypad button {
    width: 60px;
    height: 60px;
    font-size: 20px;
    border: none;
    color:blue;
    border-radius: 8px;
    cursor: pointer;
    background-color: #eee;
    transition: 0.2s;
}

.keypad button:hover {
    background-color: #ddd;
    
}

.keypad button.operator{
             color:green;
}

.keypad button.clear{
             color:red;

}

